<div class="card text-bg-dark">
    <img src="assets/img/hero-banner.jpg" class="card-img" alt="...">
    <div class="card-img-overlay container">
      <h5 class="card-title fs-2">REGALA IL MEGLIO</h5>
      <p class="card-text">Ispirazione e movimento: il regalo perfetto</p>
      <a class="btn btn-light" routerLink="/lista-scarpe" role="button">Aquista</a>
    </div>
  </div>
  <div class="container">
    <h2 class="mt-3">Trend della settimana</h2>
  
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <img src="assets/img/scarpa_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Dunk Low Retro</h5>
            <p class="card-text">Scarpa &ndash; uomo</p>
            <p class="card-tex">119,99&euro;</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <img src="assets/img/scarpa_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Dunk Low</h5>
            <p class="card-text">Scarpa &ndash; donna</p>
            <p class="card-tex">119,99&euro;</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <img src="assets/img/scarpa_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Dunk Low</h5>
            <p class="card-text">Scarpa &ndash; bambino</p>
            <p class="card-tex">119,99&euro;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2 class="mt-3">Aquista per sport</h2>
  
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <img src="assets/img/sport_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Calcio</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <img src="assets/img/sport_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Danza</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-3 mb-lg-0">
          <img src="assets/img/sport_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Basket</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h2 class="mt-3">Membership Nike</h2>
  
    <div class="row">
      <div class="col-sm-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card h-100">
          <img src="assets/img/banner_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Prodotti per i member</p>
            <h5 class="card-title">Accesso esclusivo su misura per te</h5>
            <button type="button" class="btn btn-secondary">Acquista</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card h-100">
          <img src="assets/img/banner_5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Ricompense per i member</p>
            <h5 class="card-title">Il nostro modo di ringraziarti</h5>
            <button type="button" class="btn btn-secondary">Celebra</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card h-100">
          <img src="assets/img/banner_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Sport e benessere</p>
            <h5 class="card-title">Per fare movimento ovunque</h5>
            <button type="button" class="btn btn-secondary">Inizia a muoverti</button>
          </div>
        </div>
      </div>
    </div>
  </div>
